include README.rst
include LICENSE
include requirements.txt
include tox.ini
include pyproject.toml
recursive-include kecpkg *.template

graft tests
graft kecpkg
prune .idea

global-exclude *.pyc

exclude .coveragerc


